


<form [formGroup]='contactsForm' (ngSubmit)='saveForm()'>

    <div class="form-group p-2">
        <label>clientName :</label>
        <input formControlName='clientName' class="form-control"/>
        <small>clientName between 2 and 8 </small>
        <div *ngIf="contactsForm.controls.clientName.errors != null && contactsForm.controls.clientName.touched" class="border border-danger p-2 m-2">
            <p class="text-danger">clientName not valid</p>
        </div>
    </div>
    <div class="form-group p-2">
        <label>clientAge :</label>
        <input formControlName='clientAge' class="form-control"/>
        <small>clientAge between 10 and 80 </small>
        <div *ngIf="contactsForm.controls.clientAge.errors != null && contactsForm.controls.clientAge.touched" class="border border-danger p-2 m-2">
            <p class="text-danger">clientAge not valid</p>
        </div>
    </div>
    <div class="form-group p-2">
        <label>clientMail :</label>
        <input formControlName='clientMail' class="form-control"/>
        <small>clientMail must be valid mail</small>
        <div *ngIf="contactsForm.controls.clientMail.errors != null && contactsForm.controls.clientMail.touched" class="border border-danger p-2 m-2">
            <p class="text-danger">clientMail not valid</p>
        </div>
    </div>
    <div class="form-group p-2">
        <label>messageTitle :</label>
        <input formControlName='messageTitle' class="form-control"/>
        <small>messageTitle </small>
        <div *ngIf="contactsForm.controls.messageTitle.errors != null && contactsForm.controls.messageTitle.touched" class="border border-danger p-2 m-2">
            <p class="text-danger">messageTitle not valid</p>
        </div>
    </div>
    <div class="form-group p-2">
        <label>messageBody :</label>
        <textarea formControlName='messageBody' class="form-control"></textarea>
      
    </div>



    <button  [disabled]='!contactsForm.valid' type="submit" class="btn btn-info">send</button>
    
</form>