<nav class="py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <img src="assets/image/logo.png" class="img-fluid"/>
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled d-flex justify-content-around">
                    <li>
                        <a routerLink='home'>HOME</a>
                    </li>
                    <li>
                        <a routerLink='movies'>MOVIES</a>
                    </li>
                    <li>
                        <a routerLink='tv'>TV</a>
                    </li>
                    <li>
                        <a routerLink='people'>PEOPLE</a>
                    </li>
                    <li>
                        <a routerLink='contacts'>CONTACTS</a>
                    </li>
                    <li>
                        <a routerLink='about'>ABOUT</a>
                    </li>
                    <li>
                        <a routerLink='reviews'>REVIEWS</a>
                    </li>
                  
                </ul>
            </div>
            <div class=" col-md-2 text-white d-flex justify-content-around">
                <a href="https://www.facebook.com/profile.php?id=100053084689854" target="_blank" >                       <i class="fab fa-facebook "></i></a>
                <a href="https://twitter.com/AMoraby3?s=09" target="_blank" >                                             <i class="fab fa-twitter "></i></a>
                <a href="https://www.instagram.com/invites/contact/?i=aikb3c2yuoal&utm_content=7izyo7w" target="_blank" > <i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/dev-orapii-508bb9198" target="_blank" >                              <i class="fab fa-linkedin "></i></a> 
            </div>
           
        </div>
        <br>
       
    </div>
</nav>