/* 
$bgColor:#131722;
$lightBgColor:#24baef;
$bgTransparent:rgba(36,186,239,.6) ;
$fontColor:#fff;
$borderColor:#a8a8a83d;
$secondFontColor:#949cb0;
*/

body
{
    background-color: #131722;
    fontFamily:'Montserrat', sans-serif;
    fontSize:16px;
}
a
{
    color: #fff;
     text-decoration: underline;
}
.vote
{
    background-color: #24baef;
    color: #fff;
    padding: 8px;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 10px;
}

.brdr
{
    height: 1px;
    background-color: #a8a8a83d;
}
.test
{
    width: 200px;
    height: 200px;
    background-color: red;
    clip-path: polygon(100% 5%, 0 30%, 100% 100%);
}
.vote1 
{
    position: relative;
    top: 100%;
    color: white;
}
h3
{
    color: teal;
}
div i , .is
{
    cursor: pointer;
}