.test
{
    width: 200px;
    height: 200px;
    background-color: red;
    clip-path: polygon(100% 5%, 0 30%, 100% 100%);
}
.vote1 
{
    position: relative;
    top: 100%;
    color: white;
}
h3
{
    color: teal;
}
div i , .is
{
    cursor: pointer;
}