 <!-- <div class="test "></div>  -->
 <div class="">
    <input [(ngModel)]='term' class="form-control w-50 m-auto" placeholder="serch film name"/>
   </div> 
   <div class="row mt-2">
    <div class="col-md-4 py-5">
        <div class="brdr w-25"></div>
        <h2 class="text-white py-3">Popular Movies <br/> Right Now</h2>
        <p class="text-muted">Most Trending Movies this Month</p>
        <div class="brdr w-100"></div>
      
        
    </div>
    <h3 class="text-center">ORABII ELZER0 ...!</h3>
    <div *ngFor="let movie of trendingAll |search:term ; let i = index" class="col-md-2 my-2">
      <div class="movie  position-relative"> 
        <a [routerLink]='["/moviedetail", i]'> 
            <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" />
             <h6 class="text-danger my-2">{{movie.media_type == undefined ? movie.media_type:movie.media_type  }}</h6> 
            <div class="vote">{{movie.release_date}}</div>
           <!-- <p class="text-white">{{movie.overview |more:55}} <br><a href="">see more</a> </p> -->
          </a>
  
          </div>
    </div>
  
  </div>
  
  <div class="w-50 mx-auto my-5 py-5 d-flex">
    <i (click)='prev()' class="fab fa-3x fa-telegram-plane text-white "></i>
    <div class="p-3 is text-white" *ngFor="let pageNumber of pageNumbers; let i =index"  (click)='changeNumber(pageNumber)'>{{pageNumber}}</div>
    <i (click)='next()' class="fab fa-3x fa-telegram-plane text-white "></i>
    <!-- <i class="fas fa-arrow-alt-circle-right"></i> -->
  </div>